.my-post-card {
  width: 200px;
  background-color: azure;
  border-radius: 5px;
}
#my-card-img {
  width: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.my-car-info {
  color: black;
  font-size: 12px;
}
