.my-posts {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  position: fixed;
  top: 40px;
  left: 120px;
}
.empty-notice {
  font-family: monospace;
  font-size: 50px;
  color: white;
}

.empty-myposts {
  margin-left: 300px;
  margin-top: 100px;
}
