.ant-upload-select-picture-card i {
  color: #999;
  font-size: 32px;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.form-profile {
  display: flex;
  flex-wrap: wrap;
}
.create-profile {
  margin-top: 110px;
}

.upload-social {
  display: flex;
  align-items: flex-start;
}

.social-inputs {
  display: flex;
}

.social-button {
  position: fixed;
  left: 630px;
  bottom: 260px;
  display: flex;
}

.profile-picture-upload {
  border: dashed gray 3px;
  position: fixed;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  font-size: 15px;
  font-family: monospace;
  right: 50px;
}

.submit-profile {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.text-field1 {
  position: fixed;
  right:1050px;
  width: 330px;
}

.text-field2 {
  position: fixed;
  left: 0;
  bottom: 300px;
  width: 250px;

}

.text-field3 {
  position: fixed;
  left: 0;
  bottom: 200px;
    width: 250px;

}

.select-field1 {
  position: fixed;
  left: 350px;
  top:235px;
  width: 240px;
}
.select-field2 {
  position: fixed;
  left: 350px;
  bottom: 282px;
  width: 240px;

}

.select-field3 {
  position: fixed;
  left: 350px;
  bottom: 184px;
  width: 240px;

}

.text-field4 {
  position: fixed;
  left: 570px;
  width: 380px;

}

#clear-social-btn{
  border:none;
  border-radius: 3px;
  color:black;
  font-size: 15px;
  text-decoration: underline;
  margin:0px 20px 15px 0px;
}