.ant-upload-select-picture-card i {
  color: #999;
  font-size: 32px;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.form-profile {
  display: flex;
  flex-wrap: wrap;
}
.create-profile {
  margin-top: 100px;
  
}
.line-profile-1 {
  display: flex;
  margin-bottom: 50px;
}

.upload-social {
  display: flex;
  align-items: flex-start;
}

.social-inputs {
  display: flex;
}
.line-profile-2 {
  display: flex;
  margin-left: 50px;
justify-content: start;
}
.profile-picture-upload{
margin-left:50px
}
.line-profile-3 {
  display: flex;
  margin-left: 50px;
  margin-top:30px;
  justify-content: space-between;
}
.submit-profile{
  margin-left: 200px;
}