.post-card{
    margin:15px;
    display: flex;
    background-color: white;
    align-items: center;
    width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);


}
.card-infos{
    padding: 20px;
}
.car-card-img{
width:140px;
margin-left: 10px;
box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
border:1px solid rgba(0, 0, 0, 0.4)
}
.card-infos{
    display: flex;
    justify-content: space-between;
}
.post-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.avatar-post{
    margin-left:15px;
}