.all-agencies-filtre {
  border-right: solid 5px white;
  padding: 0px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(110deg, #cda98c 40%, rgb(140, 166, 177) 70%);
  margin-top: 85px;
  height: 590px;
  box-shadow: 5px 4px 6px 1px gray;
}
.search-input {
  color: aqua;
}
