.image-agency{
    border: solid 5px gray;
    border-radius: 10px;
}
.agency-card{
    margin:10px;
}
.agency-body-card{
height: 230px;
}
.agency-img{
    padding:10px;
    border: solid 2px yellowgreen;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}