.all-agencies-filtre {
  border-right: solid 5px white;
  padding: 0px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(110deg, #cda98c 40%, rgb(140, 166, 177) 70%);
  height: 587px;
  box-shadow: 5px 4px 6px 1px gray;
  position: fixed;
  left: 0;
  bottom: 0;
}
.search-input {
  color: aqua;
}
.posts-list-view {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  margin-left: 30px;
  position: fixed;
  right: 0;
  top: 120px;
  width: 1130px;
  justify-content: flex-end;
}

.posts-list-main {
  margin-top: 185px;
  display: flex;
  justify-content: flex-end;
}
#empty-agency {
  font-size: 75px;
  opacity: 0.5;
  margin-left: 160px;
  margin-top: 200px;
  display: flex;
}
.sort-agencies {
  position: fixed;
  right: 50px;
  top: 70px;
  display: flex;
  flex-direction: column;
}
.sort-label {
  color: black;
  font-family: monospace;
  font-size: 13px;
}
.sort-select {
  font-size: 15px;
  font-family: monospace;
  border-radius: 3px;
}
