.agencies-sous-titre {
  font-size: 16px;
  font-weight: 100;
}

.agencies-title {
  font-family: monospace;
}

.profile-avatar-card {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.4);
  border: solid gray 1px;
  transition: transform 0.2s;
}

.profile-avatar-card:hover {
  transform: scale(1.1);
}

.profile-avatar-card:hover + .profile-name-card {
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: transparent;
  transform: scale(1.1);

}

.profile-name-card {
  transition: transform 0.2s;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 5px black;
}
/* profiles page */

.search-agency {
  margin-top: 32px;
}

.profilesPage {
  width:1300px;
  margin-left:120px;
  height: 425px;
}
