.dashbord-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
}
.agree-errors {
  font-size: 14px;
  color: white;
  background-color: #d03648;
  border-radius: 4px;
  padding: 5px;
  width: 270px;
}
.dashbord-first h1 {
  margin-bottom: 70px;
}
.dashbord-first p {
  margin-bottom: 70px;
}

.profile-config {
  width: 150px;
}

.left-dashbord {
  margin-top: 100px;
}

.right-dashbord {
  margin-top: 50px;
  margin-left: 20px;
  width: 700px;
}

.agency-post-buttons {
  margin-top: 150px;
  margin-left: 30px;
}

.post-link {
  width: 210px;
}
.profile-name {
  margin: 20px 0px;
}
