

.profile-config {
  width: 150px;
}

.left-dashbord {
  margin-top: 100px;
}

.right-dashbord {
  margin-top: 100px;
  margin-left: 20px;
  width: 700px;
}

.agency-post-buttons {
  margin-top: 150px;
  margin-left: 30px;
}

.post-link {
  width: 210px;
}
.profile-name {
  margin: 20px 0px;
}
