.dashbord-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:200px
  }
  .agree-errors{
    font-size: 14px;
    color:white;
    background-color: #D03648;
    border-radius: 4px;
    padding: 5px;
    width:270px
  }
.dashbord-first h1{
    margin-bottom: 70px;
}
.dashbord-first p{
    margin-bottom: 70px;
}