.profile-config {
  width: 150px;
  height: 40px;
}

.left-dashbord {
  margin-top: 100px;
}

.right-dashbord {
  margin-top: 100px;
  margin-left: 20px;
  width: 700px;
}

.agency-post-buttons {
  margin-top: 150px;
  margin-left: 30px;
}

.post-link {
  width: 210px;
}
.profile-name {
  margin: 20px 0px;
  color: blue;
}
.client-post-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-dashbord-client {
  margin-top: 100px;
  display: flex;
}
.right-dashbord-client {
  font-size: 95px;
  margin-left: 140px;
  margin-right: 100px;
}
