.post-card {
  margin: 15px;
  background-color: white;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  height:130px;
  border-radius: 5px;
  transition: transform .2s;

}

.car-card-img {
  width: 130px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  transition: transform .2s;

}

.post-card:hover {
  transform: scale(1.1)
}

.car-info{
  font-size: 13px;
}