.site-drawer-render-in-current-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #ebedf0;
  border-radius: 2px;
  padding: 48px;
  text-align: center;
  background: #fafafa;
}
.posts-modal {
  height: 100%;
}
.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: white;
}
.scrollbar-primary {
  scrollbar-color: #ff764d #fdc93c;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff764d;
}
.scroll-posts {
  margin-top: 50px;
}
.agency-post-card {
  display: flex;
  align-items: center;
  padding: 15px;
}
.car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px;
}
.agency-post-card {
  padding-left: 15px;
  margin: 10px 15px;
  background: linear-gradient(110deg, #fdcd3b 30%, hsl(14, 100%, 65%) 80%);
}
.car-details h6 {
  color: white;
  padding: 4px;
  background-color: gray;
  border-radius: 6px;
  font-size: 15px;
}
.car-details h5 {
  color: white;
  font-size: 19px;
  font-family: monospace;
  font-weight: bold;
}

.scrollbar {
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  border-radius: 5px;
}
.view-button {
  width: 150px;
}
.agency-avatar {
  margin-left: 100px;
  margin-bottom: 120px;
  z-index: 1;
  position: fixed;
  top:80px;

}
.agency-infos {
  background-color: gray;
  width: 550px;
  height: 400px;
  z-index: 0;
  border-radius: 50px;
  border: 3px solid white;
  margin-right: 00px;
  position: fixed;
  bottom: 30px;
  left: 250px;
}
.agency-info{
  margin-left:100px;
  display: flex;
  font-size: 25px;
}
.all-info{
  margin-top: 100px;
}